# Server Configuration
PORT=3000

# JWT_SECRET: La "llave maestra" de seguridad. 
# Inventa una cadena larga y compleja o genérala con: openssl rand -base64 32
JWT_SECRET=tu-secreto-super-seguro-aqui

# BASE_DOMAIN: El dominio base para este servidor/cluster.
# Ejemplo: cluster1.midominio.com
# El panel estará en panel.cluster1.midominio.com
BASE_DOMAIN=cluster1.midominio.com

# Database
# DATABASE_URL is managed in prisma.config.ts by default for SQLite
DATABASE_URL="file:./dev.db"

# Docker Orchestration
DOCKER_HOST_NAME=socket-proxy
DOCKER_HOST_PORT=2375

